
<table>

<thead> 
<th>title</th> 
<th>video</th> 
</thead> 

<tbody> 
{{#.}} 
<tr> 
<td>{{title}}</td> 
<td><video src="{{url}}" style= "width:300px; height:300px;"></video></td> 
</tr> 
{{/.}} 
</tbody> 

</table> 