<header>
<nav>
<ul>
<li><a href="ruta" id="home">Home</a></li>
<li><a href="ruta" id="usuarios">Usuarios</a></li>
<li><a href="ruta" id="pedidos">Pedidos</a></li>
</ul>
</nav>
</header>

<h1>Usuarios</h1>
<ul>
{{#.}}
<li>{{vid}} -- {{name}} -- {{email}}</li>
{{/.}}
</ul>